.content {
    display: flex;
    position: absolute;
    top: 5em;
    bottom: 0;
    width: 100%;
}

.left-column {
    width: 20em;
    border: 1px solid #BDBDBD;
    background: whitesmoke;
}

.center-column {
    position: relative;
    flex: 1;
    /*margin: 1em;*/
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.chart-content {
    flex: 1;
    margin: 0 auto;
    width: 80%;
}


/*.chart-container {
    margin: 0;
}*/

.chart-label {
    text-align: center;
    font-size: 1.2em;
    width: 70%;
    margin: 1.5em auto;
}

.logo {
    font-size: 2em;
}

.logo-inner {
    border: .05em solid white;
    border-radius: 10%;
    width: 1.5em;
    padding: 0;
    line-height: 1.2em;
    margin-right: 0.1em;
}

.chart-content.loading, .chart-content.loading .chart-container {
    height: 100%;
}

.spinner:after {
    content: "H";
    border: 3px solid #BDBDBD;
    background: white;
    color: black;
    padding: 1em;
    border-radius: 10%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 1em;
    font-size: 2em;
    font-weight: bold;
    -webkit-animation: spin .3s ease-in-out infinite;
    -moz-animation: spin .3s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
}

.spin {
    -webkit-animation: spin .3s ease-in-out infinite;
    -moz-animation: spin .3s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}