.Login {
  height: 100%;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0;
  flex-direction: column;
}

.login-form {
  text-align: center;
  flex: 1;
  max-width: 30rem;
  background-color: rgba(255, 255, 255, 0.30);
  border-radius: .5em;
  padding: 1em;
  color: white;
}

.home-video {
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.title-container {
  flex: 1;
  text-align: center;
  color: white;
}

.title-label {
  font-size: 6em;
}

.title-description {
  font-size: 2em;
}

.login-form-label {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.sandbox-container {
  text-align: center;
  margin-top: 3em;
  color: white;
}

.sandbox-label {
  font-size: 1.2em;
}

.sandbox-button {
  margin-top: 1em;
  background-color: #FF5722 !important;
}

.login-error {
  font-size: 1.2em;
  margin-bottom: 1em;
  padding: .3em;
  color: red;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: .5em;
}

.login-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.10);
}