.feature-selector {
    list-style: none;
    padding: 1em !important;
    text-align: center;
    margin: 0;
    border: 0;
    top: 50%;
    margin-top: -50%;
}

.feature-selector .collection-item {
    border: 0;
    margin: 1em 0;
    font-size: 1.5em;
    padding: 1em;
}